{% extends 'base.html.twig' %}

{% block title %}Editer un tag{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Editer un tag</h1>

    </div>
    {{ include("admin/tag/_form.html.twig", {form: form, button: "Editer"}) }}


{% endblock %}