{% extends 'base.html.twig' %}

{% block title %}Créer un tag{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Créer un nouveau tag</h1>

    </div>
    {{ include("admin/tag/_form.html.twig", {form: form, button: "Créer"}) }}
{% endblock %}